*{	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
nav{
	height:50px;
}
.left{float:left;}.right{float:right;}
h2{margin:0;padding:0;}
h3{font-size:24px;}
p{
	font-size:18px;
	letter-spacing:1px;
}
li{list-style-type:none;}
ul{margin:0;}

.live{
	border-bottom:5px solid #FFF;
}
.sub-heading{font-size:18px;}
.hr{
	width:100%;
	height:2px;
	margin:20px auto;
}
#banner{
	background:rgba(0, 0, 0, 0.2);
	height:930px;
}
header{
	background:rgba(0, 0, 0, 0.4);
}
nav ul{
	list-style:none;
	margin:0;
	float:right;
}

nav ul li, nav .logo{
	display:inline-block;
	line-height:50px;
	margin-right:20px;
}

nav ul li a{
	line-height:inherit;
	text-decoration:none;
	display:inline-block;
	height:inherit;/*继承*/
	color:#FFF;
}

#banner .inner{
	max-width:300px;
	text-align:center;
	margin:0 auto;
	position:relative;
	top:160px;
}
#banner .inner h1{
	margin:0;
	border:1px solid #FFF;
	border-left:none;
	border-right:none;
	padding:10px 0;
	color:#FFF;
}

button{
	border:none;
	background:#333;
	color:#EEE;
	padding:10px;
}
#banner button{
	padding:14px 60px;
	background:#18A
}
#banner .inner .more{
	margin-top:240px;
	color:#FFF;
}

.sub-heading{
	line-height:30px;
	margin:30px 0;
	color:#FFF;
}

.logo{
	font-size:20px;
	font-weight:700;
	letter-spacing:1px;
	width:100px;
	float:left;
	padding-left:10px;
}
.logo a{
	color:#FFF;
	text-decoration:none;
}
.wrapper{
	max-width:1080px;
	margin:0 auto;
}
.green-section{
	background:#089DB0;
	color:#FFF;
	text-align:center;
	padding:100px 0;
}
.green-section .hr{
	background:#078494;
	width:60%;
}
.green-section .icongroup .icon{
	display:inline-block;
	width:80px;
	height:80px;
	background:#000;
	transform:rotate(45deg);
	margin:20px;
	background-color:#0D6F7C;
}
.icongroup{
	margin-top:16px;
}
.gray-section{
	background:#252F34;
}
.gray-section .img-section{
	width:30%;
}
.img-section{
	font-size:0;
}
.img-section img{
	width:100%;
}

.gray-section .text-section{
	width:70%;
	color:#FFF;
}
.article-preview > div{
	float:left;
}
.article-preview{
	overflow:auto;
}

.text-section{
	padding-top:68px;
}
.text-section > *{
	padding-left:50px;
	max-width:90%;
}
.text-section h2{
	margin-bottom:20px;
}
.text-section .sub-heading{
	font-size:16px;
	margin-top:0;
}
.text-section p{
	font-size:12px;
	letter-spacing:1px;
}
.article-preview:nth-child(odd){
	background:rgba(255,255,255,0.05);
}
.article-preview:nth-child(even){
	text-align:right;
}
.purple-section{
	background:#3F3965;
	color:#FFF;
	padding:80px;
}
.purple-section .heading-wrapper{
	text-align:center;
}
.heading-wrapper .hr{
	background:#373259;
	width:60%;
}
.card-group{
	overflow:auto;
}
.card{
	float:left;
	width:50%;
	min-height:300px;
	padding:50px;

}
.card p{
	font-size:14px;
}
.card h3{
	font-size:20px;
}

.card:first-child{
	background:rgba(0, 0, 0, 0.04);
}
.card:nth-child(2){
	background:rgba(0, 0, 0, 0.08)
}
.card:nth-child(3){
	background:rgba(0, 0, 0, 0.12)
}
.card:nth-child(4){
	background:rgba(0, 0, 0, 0.16)
}
.card:nth-child(5){
	background:rgba(0, 0, 0, 0.20)
}
.card:nth-child(6){
	background:rgba(0, 0, 0, 0.24)
}

footer{
	background:#333;
	color:#FFF;
	min-height:200px;
	text-align:center;
}
ul.share-gruop{
	display:block;
	width:1080px;
	margin:0 auto;
	padding:50px 0;
}
.share-gruop li{
	display:inline-block;
	padding:10px;
}

.copy{
	padding-bottom:20px;
}

.main-wrapper{
	background:#444 url(../img/banner.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.icon div{
	-webkit-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	transform:rotate(315deg);
	position: relative;
    top: 26px;
    left: 2px;
}

.share-gruop li:hover{
	color:rgba(255, 255, 255, 0.5);
	cursor:pointer;
}

nav li:hover{
	border-bottom:5px solid #FFF;
}